.add-category-container {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #010101d6;
  color: #ffffff;
}

.add-category-content {
  background-color: #3c3c3c;
  padding: 15px;
  max-width: 80%;
}

.add-category-section {
  display: flex;
  gap: 5px;
}

.add-category-input {
  all: unset;
  width: 100%;
  padding-left: 10px;
  background: #ffffff;
  color: #1b1b1b;
}

.add-category-button {
  all: unset;
  background: #ffffff;
  color: #1b1b1b;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
