.to-do-list-container {
}

.sort-by-container {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .sort-by-container {
    flex-direction: column;
  }
}

.sort-by-item {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.sort-by-item input,
.sort-by-item label {
  cursor: pointer;
}

.sort-by-category-container {
  display: flex;
  flex-direction: column;
}

.to-do-list-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.to-do-list-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  background: #3c3c3c;
  padding: 10px;
}

.to-do-list-item-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.no-tasks {
  color: #686868;
}

.edit-todo-input {
  all: unset;
  background: #505050;
  padding-left: 5px;
  width: 100%;
}

.delete-button {
  all: unset;
  cursor: pointer;
}
