.inputContainer {
  display: flex;
  gap: 5px;
}

.newToDoForm label {
  font-size: 20px;
}

.newToDoForm input {
  all: unset;
  background: #ffffff;
  color: #1b1b1b;
  text-align: left;
  padding: 10px;
  padding-left: 20px;
}

.newToDoForm button {
  all: unset;
  cursor: pointer;
  background: #ffffff;
  color: #1b1b1b;
  padding: 10px;
}
