.to-do-list p,
.to-do-list-completed p {
  font-size: 20px;
}

.to-do-list ul,
.to-do-list-completed ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.to-do-list li,
.to-do-list-completed li {
  list-style-type: none;
  background: #3c3c3c;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.to-do-list-completed li {
  background: #3c3c3c;
  color: #7a7a7a;
}

.to-do-list-item-left {
  display: flex;
  gap: 15px;
}

.to-do-list button,
.to-do-list-completed button {
  all: unset;
  cursor: pointer;
  display: flex;
  color: #7a7a7a;
}

.noTasks {
  color: #7a7a7a;
}
