.inputContainer {
  display: flex;
  gap: 5px;
}

.newToDoForm label {
  font-size: 20px;
}

@media only screen and (max-width: 800px) {
  .newToDoForm label {
    font-size: 16px;
  }
}

.newToDoForm input {
  all: unset;
  background: #ffffff;
  color: #1b1b1b;
  text-align: left;
  padding: 10px;
  padding-left: 20px;
  width: 100%;
}

.button {
  all: unset;
  cursor: pointer;
  background: #ffffff;
  color: #1b1b1b;
  padding: 10px;
}

.priority-button-active {
  background: #c0c0c0;
  color: #ffffff;
}
