.new-to-do-container {
}

.input-container {
  display: flex;
  gap: 5px;
  height: 35px;
}

.priority-button,
.submit-button {
  all: unset;
  background: #ffffff;
  color: #1b1b1b;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  /* padding: 10px; */
}

.priority-button-active {
  background: #dddddd;
  /* color: #ffffff; */
}

.new-to-do-input {
  all: unset;
  width: 100%;
  padding-left: 10px;
  background: #ffffff;
  color: #1b1b1b;
}
