.container {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.container a,
.container button {
  all: unset;
  cursor: pointer;
  background: #3c3c3c;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}
