.import-export-container {
  display: flex;
  gap: 5px;
  padding-top: 5px;
}

.import-export-container button,
.import-export-container a {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3c3c3c;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}
