* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
}

body {
  background: #1b1b1b;
  color: #ffffff;
}

:root {
  color-scheme: dark;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 50px;
  padding-bottom: 92px;
  width: 325px;
}

@media only screen and (max-width: 800px) {
  .section-1 {
    padding: 50px;
    padding-bottom: 92px;
    width: 100%;
  }
}
