* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
}

body {
  background: #1b1b1b;
  color: #ffffff;
}

:root {
  color-scheme: dark;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.content {
  flex: 1 0 auto;
  padding: 50px;
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .content {
    padding: 30px;
    width: 100%;
  }

  * {
    font-size: 16px;
  }
}
